@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html, body {
	padding-top: 25px;
	background: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    /*overflow: hidden;*/

}


.label {
	margin: 0;
	float: left;
	padding-right: 10px;
}